body {
    font-family: "Montserrat","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
    font-size: 15px;
    letter-spacing: .05em;
    color: #333;
  }
  
  a {
    transition: opacity .3s;
    text-decoration: none;
    color: #1ca9e3;
  }
  
  img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}
  
  
  
  .pc-only {
    display: block;
  }
  
  .sp-only {
    display: none;
  }
  
.article {
    padding: 40px 0;
  }
  
  .article-container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .article-title {
    margin-bottom: 30px;
    text-align: center;
  }
  
  .article-body {
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  
  .article-body h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .article-body h3:not(:first-child) {
    margin-top: 50px;
  }
  

  
  .article-body p {
    font-size: 15px;
    line-height: 1.8;
    
  }
  
  .home-link {
    display:flex;
    gap:100px;
    justify-content: space-around;

  }
  #js-page-top{
    cursor: pointer;
  }
 /* ポップアップウインドウの設定 */
.pu {
  background-color: #efefef;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, .8);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 40%;
  overflow-y: scroll;
}
/* チェックボックスの初期設定 */
#pu-on{
  display: none;
}
/* チェックされたらポップアップウインドウを開く */
#pu-on:checked + .pu{
  display: block;
}

/* 閉じるアイコン（右上） */
.icon-close{
  background: #000;
  color: #fff;
  font-size: 30px;
  padding: 0 10px;
  position: absolute;
  right: 0;
}

/* 開くボタン */
 .btn-open img{
 cursor: pointer;
}
.btn-open img:hover{
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}
/* ポップアップの内容 */
.pu-content{
  text-align: center;
  z-index: 30;
}


.pu-content img{
  max-width:100%;
}

  @media screen and (max-width: 767px) {
    body {
      font-size: 14px;
    }
  
    .pc-only {
      display: none;
    }
  
    .sp-only {
      display: block;
    }
  
    /* 見出し */
    .title {
      font-size: 26px;
      margin-bottom: 20px;
    }
  
    .lead {
      font-size: 14px;
      line-height: 1.7;
      margin-bottom: 20px;
    }
  
    /* レイアウト */
    .wrapper {
      padding-top: 57px;
    }
  
    .section {
      padding: 60px 0;
    }
  
    .container {
      padding: 0 20px;
    }
    .article {
        padding: 50px 0;
      }
    
      .article-body h3 {
        font-size: 16px;
        padding-left: .8em;
      }
    
      .article-body h3:not(:first-child) {
        margin-top: 30px;
      }
    
      .article-body p {
        font-size: 14px;
        line-height: 1.7;
        margin-bottom: 20px;
      }
      .home-link {gap:50px;}
    }
