*{
    margin:0;
    padding:0;
   
}
html{
     overflow-x: hidden;
    background-color: #ede8d8a3;
}
#wrapper{
    background-color: #e9e3d0;
    max-width: 1440px;
    margin:0 auto;
  } 
#header{
   
    height:690px;
    position:relative;
}

/* main  ================================================ */

.logo{position:absolute;
    left:20px;
    top:20px;
    }
.member{
    position:absolute;
    right:20px;
    top:60px;
    width:auto;
    height:40px;
}
.cart{
    position:absolute;
    right:70px;
    top:60px; 
    width:auto;
    height:40px;
}
.eachTextAnime{
   line-height: 2;
    height:280px;
    color:#476f55;
    letter-spacing: 0.75rem;
    position:absolute;
    top: 170px;
  right: 100px;
    font-size: 24px;
   writing-mode: vertical-rl;  
    float:right;
    font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;}
    .eachTextAnime span{opacity: 0;}
    .eachTextAnime.appeartext span{ animation:text_anime_on 2s ease-out forwards; }
    @keyframes text_anime_on {
        0% {opacity:0;}
        100% {opacity:1;}
    } 
.w1 , .w2 , .w3{
    
    background: linear-gradient(90deg,transparent 40%, white 60%);}

    .menu{
       
       
        margin:10px 0;
        display:flex;
     font-family: "Athelas";
     color:#668059;
     justify-content:center;
     font-size: 16px;
     font-family: "ヒラギノ明朝 ProN W2", "HiraMinProN-W2", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
     line-height: 1.2;
     text-align: center;
    
    }
    .menu li:not(:last-child){
        border-right: 1px solid #758f68;
    }
   
    .menu a{
        display:block;
        padding:5px 50px;
        color:#758f68;
        text-decoration: none;
    }
    .menu a:hover{
        background-color:#758f68;
        color:#fff;
    } 
    li {
        list-style-type:none;		
    }
    #about{
      
       
       width:auto;
        height:430px;
        margin:100px 0;
    }
    .aboutpic{
        padding-bottom:50px;
        width:60%;
        border-radius:0 120px 0 0;

        display: flex;
        column-gap: 30px;
       padding-top: 50px;
    }
    .aboutword{
    
        color:#758f68;
        font-family: "ヒラギノ明朝 ProN W2", "HiraMinProN-W2", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
     padding-top: 20px;
    padding-bottom: 70px;
   font-size: 16px;
   padding-left: 50px;
    margin-left: 790px;
    margin-top: -300px;
    line-height: 2;
    z-index: 10;
   }
  
   
.button007{
    position:absolute;
    right:180px;
    bottom:50px;
}
.button007 a {
    float:right;
    background:transparent ;
    border:#758f68 1px solid;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 240px;
    padding: 5px 30px;
    color:#758f68;
    transition: 0.3s ease-in-out;
    font-family: "Athelas";
    font-size: 16px;
    letter-spacing: 1.5;
}

.button007 a:hover {
    background: #a2a7a7;
    color:#eee;
}
   
.img-frame{
    position: relative;
    width: 100%;
    height: 690px;
    overflow: hidden;
    margin: 0 auto;
 }
 .img-01, .img-02, .img-03{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
 }
 .img-01{
    background-image: url('../img/top.png');
    animation: slide-animation-01 18s infinite;
 }
 .img-02{
    background-image: url('../img/top3.png');
    animation: slide-animation-02 18s infinite;
 }
 .img-03{
    background-image: url('../img/top2.png');
    animation: slide-animation-03 18s infinite;
 }
 @keyframes slide-animation-01 {
    0% {opacity: 1; transform: scale(1.0);}
    30% {opacity: 1;}
    40% {opacity: 0; transform: scale(1.05);}
    90% {opacity: 0}
    100% {opacity: 1; transform: scale(1.0);}
  }
  @keyframes slide-animation-02 {
    0% {opacity: 0;}
    30% {opacity: 0; transform: scale(1.02);}
    40% {opacity: 1;}
    60% {opacity: 1;}
    70% {opacity: 0; transform: scale(1.0);}
    100% {opacity: 0;}
  }
  @keyframes slide-animation-03 {
    0% {opacity: 0;}
    60% {opacity: 0;  transform: scale(1.0);}
    70% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0; transform: scale(1.0);}
  }
  #item1{
    margin-top:80px;
  
height:700px;
position:relative;
  }
.m1{
   
position:absolute;
top:100px;
right:0;

}
     
.iw1 h1{
    font-size: 26px;
    padding-bottom: 20px;
}  
 
.iw1 p{
    font-size: 16px;
    max-width: 90%;
}
.iw1 {
    line-height: 2;
position:absolute;
left:200px;
top:155px;

    width: 40%;
    height: 40%;
    box-sizing: border-box;
   z-index: 30;
    background-color: #afc8ab;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 150px;
    color:white;
    font-family: "ヒラギノ明朝 ProN W2", "HiraMinProN-W2", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
.iw1::before {
    content: "";
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border:white solid 3px;
    position:absolute;
    z-index: 55;
    right: -10px;
    bottom: -10px;
}
.button001{position: absolute;
top:370px;
left:550px;
 z-index: 100;} 
.button001 a {
    background:transparent ;
    border: white 1px solid; 
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 240px;
    padding: 10px 30px;
    color:white;
    transition: 0.3s ease-in-out;
    font-family: "Athelas";
    font-size: 14px;
    letter-spacing: 1.5;
}

.button001 a:hover {
    background: #a2a7a7;
    color:#eee;
}
#item2{
   
height:700px;
position:relative;
  }
.m2{
position:absolute;
top:100px;
left:0;

}
   
.iw2 h1{
    font-size: 26px;
    
}  
.iw2 p{
    font-size: 16px;
    max-width: 90%;
}
.iw2 {
    line-height: 2;
position:absolute;
right:200px;
top:155px;
    width: 40%;
    height: 40%;
    box-sizing: border-box;
   z-index: 30;
    background-color: #758f68;
    padding-left: 50px;
    padding-top: 50px;
    color:white;
    font-family: "ヒラギノ明朝 ProN W2", "HiraMinProN-W2", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
.iw2::before {
    content: "";
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border:white solid 3px;
    position:absolute;
    z-index: 55;
    right: -10px;
    bottom: -10px;
}
.button002{position: absolute;
top:370px;
right:250px;
 z-index: 100;} 
.button002 a {
    background:transparent;
    border:white 1px solid;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 240px;
    padding: 10px 30px;
    color:white;
    transition: 0.3s ease-in-out;
    font-family: "Athelas";
    font-size: 14px;
    letter-spacing: 1.5;
}

.button002 a:hover {
    background: #a2a7a7;
    color:#eee;
}
#item3{
 
height:700px;
position:relative;
  }
.m3{
position:absolute;
top:100px;
right:0;

}
   
.iw3 h1{
    font-size: 26px;
    
}  
.iw3 p{
    font-size: 16px;
    max-width: 90%;
}
.iw3 {
    line-height: 2;
position:absolute;
left:200px;
top:155px;
    width: 40%;
    height: 40%;
    box-sizing: border-box;
   z-index: 30;
    background-color: #466e56;
    padding-left: 50px;
    padding-top: 50px;
    color:white;
    font-family: "ヒラギノ明朝 ProN W2", "HiraMinProN-W2", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
.iw3::before {
    content: "";
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border:white solid 3px;
    position:absolute;
    z-index: 55;
    right: -10px;
    bottom: -10px;
}
.button003{position: absolute;
top:370px;
left:580px;
 z-index: 100;} 
.button003 a {
    background:transparent ;
    border:white 1px solid;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 240px;
    padding: 10px 30px;
    color:white;
    transition: 0.3s ease-in-out;
    font-family: "Athelas";
    font-size: 14px;
    letter-spacing: 1.5;
}

.button003 a:hover {
    background: #a2a7a7;
    color:#eee;
}


       #plan{
    
        background: rgb(233,227,208);
        background: linear-gradient(180deg, rgba(233,227,208,1) 0%, rgba(234,199,107,1) 100%);
    height:850px;
    }
    #plan h1{
      
        font-weight: bold;
        padding-top:60px;
        font-weight: normal;
        color:#758f68;
        text-align: center;
        font-size: 30px;
         font-family: "ヒラギノ明朝 ProN W2", "HiraMinProN-W2", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    }
    
    .flex h2{
        position:absolute;
     padding:15px;
       color: #758f68;
       text-shadow: 1px 0 0 white,
       0 1px 0 white,
       -1px 0 0 white,
       0 -1px 0 white,
       3px 3px 0 white;
      font-size: 36px;
      font-family: "Athelas";
       
    }
    .flex p{position:absolute;
        top:-30px;
        padding:5px;
        background-color:white;
        line-height: 1.7;
        font-size: 15px;
        font-family: "ヒラギノ明朝 ProN W2", "HiraMinProN-W2", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    color:#758f68
       
    }
    .flex h3{font-family: "ヒラギノ明朝 ProN W2", "HiraMinProN-W2", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
        position:absolute;
        bottom:150px;
        margin-left:20px;
        font-size: 24px;
        color:#758f68
        
    }
    .flex h4{font-family: "ヒラギノ明朝 ProN W2", "HiraMinProN-W2", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
        position:absolute;
       top:380px;
        margin-left:20px;
        font-size:14px;
        color:#758f68;
        font-weight: normal;
        
    }
    
    .flex{
       position:relative;
        display:flex;
        justify-content: center;
       margin:120px 0;
        column-gap: 120px;
    }
    #footer{
        position:relative;
        height:190px;
        background-color: #4d755b;
        font-family: "ヒラギノ明朝 ProN W2", "HiraMinProN-W2", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
        font-size: 13px;
        color:white;
        line-height: 2;
       }
           .least{
            position:absolute;
            right:250px;
            bottom:30px;
           }
           .leastlogo{
           position:relative;
           top:50px;
           left:50px;
           }
           .yt{
            position:absolute;
            right:100px;
            bottom:20px;
           }
           .fb{
            position:absolute;
            right:150px;
            bottom:20px;
           }
           .ig{
            position:absolute;
            right:50px;
            bottom:20px;
           }
           .plan1, .plan2, .plan3{
            position:relative;
           }
            .button004{position: absolute;
            bottom:0px;
           
           right:0;
            z-index: 100;}  
            .button004 a {
                background:#758f68 ;
               
                border-radius: 50px;
                position: relative;
                display: flex;
                justify-content: space-around;
                align-items: center;
                max-width: 240px;
                padding: 10px 30px;
                color:white;
                transition: 0.3s ease-in-out;
                font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                font-size: 14px;
                letter-spacing: 1.5;
            }
           
            .button004 a:hover {
                background: #a2a7a7;
                color:#eee;
            }
          
            .button005{position: absolute;
                bottom:0px;
                right:0;
                z-index: 100;}  
                .button005 a {
                    background:#758f68 ;
                   
                    border-radius: 50px;
                    position: relative;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    max-width: 240px;
                    padding: 10px 30px;
                    color:white;
                    transition: 0.3s ease-in-out;
                    font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                    font-size: 14px;
                    letter-spacing: 1.5;
                }
               
                .button005 a:hover {
                    background: #a2a7a7;
                    color:#eee;
                }
              
                .button007{position: absolute;
                    bottom:0px;
                    right:0;
                    z-index: 100;}  
                    .button007 a {
                        background:#758f68 ;
                       
                        border-radius: 50px;
                        position: relative;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        max-width: 240px;
                        padding: 10px 30px;
                        color:white;
                        transition: 0.3s ease-in-out;
                        font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
                        font-size: 14px;
                        letter-spacing: 1.5;
                    }
                   
                    .button007 a:hover {
                        background: #a2a7a7;
                        color:#eee;
                    }
                    
    #gift{
        background-color: #708a63;
        position:relative;
        text-align: center;
        background-image: url(../img2/GIFT.png);
        background-repeat: no-repeat;
        height:400px;
    }
    .giftphoto{
        float:right;
       padding-right: 50px;
       
    }
    #gift h1{
        padding-top:50px;
        font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
        font-size: 30px;
       
        font-weight: normal;
        color:white;
    }
    
    #gift p{
        line-height: 1.7;
        padding:50px;
        font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
        font-size: 16px;
        text-align: left;
        color:white;
        display: inline-block;
    }
    .button008{    position: absolute;
        bottom: 50px;
        right: 600px;
        z-index: 100;
    }   
        .button008 a {
            background:white ;
           
            border-radius: 50px;
            position: relative;
            display: flex;
            justify-content: space-around;
            align-items: center;
            max-width: 240px;
            padding: 10px 30px;
            color:#436b51;
            transition: 0.3s ease-in-out;
            font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
            font-size: 14px;
            letter-spacing: 1.5;
        }
       
        .button008 a:hover {
            background: #a2a7a7;
            color:#eee;
        }
       
        #gallery{
            background-color: #afc8ab;
            height:430px;
        }
        .slide {
           
            width: 100%;
            height: 200px; /* 画像の高さ */
            background-image: url(../img2/GALLERY.png);
            background-repeat: repeat-x;
            background-size: auto 200px; /* 画像の高さ */
            animation: loop 60s linear infinite;
        }
        @keyframes loop {
            from {
                background-position: 0 0;
            }
            to {
                background-position: -2000px 0; /* 画像のマイナス幅 */
            }
        }
        #gallery h1{
            text-shadow: 1px 0 0 #758f68,
                   0 1px 0 #758f68,
                   -1px 0 0 #758f68,
                   0 -1px 0 #758f68,
                   3px 3px 0 #758f68;
            letter-spacing: 0.6rem;
        font-family: "Athelas";
        font-size:36px;
        letter-spacing: 1.5;
        color:white;
        text-align: center;
        font-weight: normal; 
        padding: 50px; 
        }
        #info{
            background-image: url(../img2/ship.png);
            background-position: left top;
            background-repeat: no-repeat;
            position:relative;
            color:#708a63;
            font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
            height:380px;
           
          line-height: 1.7;
        }
        .infophoto{
           
            padding-right: 30px;;
            float:right;
        }
        #info h1{
            margin-left:450px;
            padding-top:50px;
            font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
            font-size: 30px;
          text-align: center;
            color:#708a63;
        }
        .infoflex{
            align-items: center;
            position:relative;
             display:flex;
             justify-content: center;
            margin:50px 0;
            gap: 20px;
         }
         #info h2{
            font-size: 20px;
         }
         #info p{
            font-size: 16px;
         }
         .info1{width:250px;}
         
            a{text-decoration: none;}
            .scroll_up {
                transition: 2s ease-in-out;
                transform: translateY(30px);
                opacity: 0;
              }
              .scroll_up.on {
                transform: translateY(0);
                opacity: 1.0;
              }
              .scroll_left {
                -webkit-transition: 1s ease-in-out;
                -moz-transition: 1s ease-in-out;
                -o-transition: 1s ease-in-out;
                transition: 1s ease-in-out;
                transform: translateX(-30px);
                opacity: 0;
                filter: alpha(opacity=0);
                -moz-opacity: 0;
            }
            .scroll_left.on {
                opacity: 1.0;
                filter: alpha(opacity=100);
                -moz-opacity: 1.0;
                transform: translateX(0);
            }
